<!-- views/pages/form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>    
<script type="text/javascript" src="app.js"></script>
        <form name="personal_data" method="POST" action="/form"> 
            Imię:
            <input type="text" name="firstname" id="firstname" style="margin:5px" value=<%= getFromLocalStorage('firstname') %>> <br/> <p id="result"></p>
            <!-- Nazwisko:
            <input type="text" name="lastname" id="lastname" style="margin:5px" value=<%= localStorage.getItem('lastname') %> > <br/>
            Hasło: 
            <input type="password" name="password" id="password" style="margin:5px" value=<%= localStorage.getItem('password')  %> > <br/> -->
                
            <input type="submit" name="Submit" value= "Submit" />
            <input type="reset" value="Clear all"/>                                           
            </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>