<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Proces rejestracji szkody OC
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Strona startowa</a></li>             
                <li><a href="/form">Wypełnij formularz</a></li>
            </ul>
        </div>
    
    </div>
    </nav>