
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    margin: auto;
}

body {
    font-family: Helvetica, Neue, Arial;
    color: yellow;
    background-color:dimgray;
}

.MainBody {
    color: yellow;
    width: 55%; 
    background-color: black;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-size: 20px;
    margin-left: 20px;
    border-bottom-color: white;
    border-bottom-style: dotted;
}

.Paragraph{
    font-size: 14px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:darkslategrey;
    margin: 10px;    
}


.Header img{
    display: block;
    border-radius: 5%;
    width: 60%;
    border-color: grey;
    border-style: solid;
}

a:hover{
    color: red;
}

a:active{
    color: red;
}
a:visited{
    color: greenyellow;
}
