<!-- views/pages/formdata.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <div class="jumbotron">
            <h1><%= PersonData.first %> <%= PersonData.last %></h1>
            <p>Password: <%= PersonData.pass %></p>
        </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>