<!-- views/pages/form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <form name="personal_data" method="POST" action="/form"> 
            Imię:
            <input type="text" name="firstname" id="firstname" style="margin:5px"/> <br/> 
            Nazwisko:
            <input type="text" name="lastname" id="lastname" style="margin:5px"/> <br/>
            Hasło: 
            <input type="password" name="password" id="password" style="margin:5px" /> <br/>
                
            <input type="submit" name="Submit" value= "Submit" />
            <input type="reset" value="Clear all"/>                                           
            </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>