<!-- views/pages/ClaimDescForm.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <span class="badge badge-success" style="font-size: 20px">1. Dane właściciela pojazdu</span>
        <br><br>
        <form id="ClaimDescData" name="ClaimDescData" method="POST" action="/ClaimDescForm"> 
            <div class="form-group">
                <label for="Date">Wprowadź datę i godzinę zdarzenia z kalendarza</label>
                <input type="date" class="form-control" id="Date" name="Date" aria-describedby="DateHelp" placeholder="Data i godzina zdarzenia" value="<%= ClaimDescData.Date %>">
                <small id="DateHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="Description">Opisz zdarzenie (min. 50 znaków)</label>
                <textarea class="form-control vresize" rows="8" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder="Tutaj wprowadź swój opis"><%= ClaimDescData.Description %></textarea>
                <small id="DescriptionHelp" class="form-text text-muted"></small>
            </div>
                <label for="ClaimedAmount">Na ile została wyceniona twoja szkoda? </label>
                <input type="number" step="0.01" class="form-control" id="ClaimedAmount" name="ClaimedAmount" aria-describedby="ClaimedAmountHelp" placeholder="Podaj kwotę" value="<%= ClaimDescData.ClaimedAmount %>">
                <small id="ClaimedAmountHelp" class="form-text text-muted"></small>
            </div>
            <br>
            <input type="reset" class="btn btn-primary" value="Wyczyść wszystko"/>                                           
            </form>
            <br>
            <input type="submit" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top" value= "Poprzednia strona" onclick="window.location='/PerpetratorForm';"/>                            
            <input type="button" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top" value= "Podsumowanie" onclick="validateClaimDesc()"/>          
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>