<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h3>Witaj w procesie rejestracji szkody komunikacyjnej z tytułu OC.</h3>
        <br>
        <p>W celu rozpoczęcia procesu przejdź do zakładki "Wypełnij formularz" u góry ekranu.</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>