<!-- views/pages/PerpetratorForm.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <span class="badge badge-success" style="font-size: 20px">2. Dane sprawcy zdarzenia</span>
        <br><br>
        <form id="PerpetratorData" name="ClaimerData" method="POST" action="/PerpetratorForm"> 
            <div class="form-group">
                <label for="Owner">Wprowadź imię i nazwisko właściciela/właścicieli</label>
                <input type="text" class="form-control" id="Owner" name="Owner" aria-describedby="OwnerHelp" placeholder="Imię i nazwisko" value="<%= PerpetratorData.Owner %>">
                <small id="OwnerHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="Driver">Wprowadź imię i nazwisko kierującego w chwili zdarzenia</label>
                <input type="text" class="form-control" id="Driver" name="Driver" aria-describedby="DriverHelp" placeholder="Imię i nazwisko" value="<%= PerpetratorData.Driver %>">
                <small id="DriverHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="IDnumber">Numer prawa jazdy</label>
                <input type="text" class="form-control" id="IDnumber" name="IDnumber" aria-describedby="IDnumberHelp" placeholder="Wprowadź numer prawa jazdy kierującego." value="<%= PerpetratorData.IDnumber %>">
                <small id="IDnumberHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="CarPlate">Numer rejestracyjny pojazdu</label>
                <input type="text" class="form-control" id="CarPlate" name="CarPlate" aria-describedby="CarPlateHelp" placeholder="Wprowadź numer rejestracyjny pojazdu." value="<%= PerpetratorData.CarPlate %>">
                <small id="CarPlateHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="InsuranceNo">Numer polisy ubezpieczeniowej sprawcy</label>
                <input type="text" class="form-control" id="InsuranceNo" name="InsuranceNo" aria-describedby="InsuranceNoHelp" placeholder="Wprowadź numer polisy ubezpieczeniowej sprawcy." value="<%= PerpetratorData.InsuranceNo %>">
                <small id="InsuranceNoHelp" class="form-text text-muted"></small>
            </div>
            <input type="reset" class="btn btn-primary" value="Wyczyść wszystko"/>                                           
            </form>
            <br>
            <input type="submit" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top" value= "Poprzednia strona" onclick="window.location='/ClaimerForm';"/>                            
            <input type="button" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top" value= "Dalej" onclick="validatePerpetrator()"/>
 
</main>

<footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>