<!-- views/pages/resultData.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <button type="button" class="btn btn-primary">
                Zgłoszenie nr: <span class="badge badge-light">99999</span>
        </button>
        <br><br>
        <span class="badge badge-success" style="font-size: 20px">1. Dane właściciela pojazdu</span>
        <br>
        <p><strong>Imię: </strong><%= ClaimerData.Owner %></p>
        <p><strong>Nazwisko: </strong><%= ClaimerData.Driver %></p>
        <p><strong>Numer prawa jazdy: </strong><%= ClaimerData.IDnumber %></p>
        <p><strong>Numer rejestracyjny pojazdu: </strong><%= ClaimerData.CarPlate %></p>
        <br>
        <span class="badge badge-success" style="font-size: 20px">2. Dane sprawcy</span>
        <br>
        <p><strong>Imię: </strong><%= PerpetratorData.Owner %></p>
        <p><strong>Nazwisko: </strong><%= PerpetratorData.Driver %></p>
        <p><strong>Numer prawa jazdy: </strong><%= PerpetratorData.IDnumber %></p>
        <p><strong>Numer rejestracyjny pojazdu: </strong><%= PerpetratorData.CarPlate %></p>
        <br>
        <span class="badge badge-success" style="font-size: 20px">3. Opis zdarzenia</span>
        <br>
        <p><strong>Data: </strong><%= ClaimDescData.Date %></p>
        <p style="word-break: break-all"><strong>Opis: </strong><%= ClaimDescData.Description %></p>
        <p><strong>Kwota roszczenia: </strong><%= ClaimDescData.ClaimedAmount %></p>
        <br>
        <input type="submit" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top"  value= "Poprzednia strona" onclick="window.location='/ClaimDescForm';"/>                            
        <input type="submit" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top"  value= "Zakończ" onclick="window.location='/SubmitSuccess';"/>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>