<!-- views/pages/SubmitSuccess.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h2>Rejestracja zakończona powodzeniem!</h2>
        <img src="check.jpg" alt="Success" height="150px">
        <br>
    </div>
     <div align="center">
         <input type="submit" class="btn btn-primary" name="Submit" data-toggle="tooltip" data-placement="top" value= "Powrót do strony głównej" onclick="window.location='/';"/>  
    </div>
    <br>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>