
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    background-color: black;
    font-style: 
}

body {
    font-family: Helvetica, Neue, Arial;
    color: yellow;
}

h1, h2 {
    color: white;
    font-size: 20px;
}

li {
    margin-left: 10px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}
form {
 color: yellow;
}
input, option, textarea, select {
 color: white;
}
.main-info img{
    height: 200px;
    border-radius: 10%;
}
.foto2 img{
    height: 200px;
    float: left; 
    margin: 10px;
    border-radius: 10%;
}
.below{
    clear: both;
}
.foto3 img{
    height: 200px;
    float: left; 
    margin: 10px;
    border-radius: 10%;
}
.Articles {
    width: 55%;
    float: left;  
    margin: 5px;
    
}
.right_side {
    width: 40%;
    float: right;  
    margin: 5px;  
    
}