body {
    background-color: forestgreen;
    font-size: 15px;
    margin: 0;
    font-family: lato;
}

@font-face {
    font-family: myFont;
    src: url(nella-sue/NellaSueDEMO.ttf);
}

@font-face {
    font-family: lato;
    src: url(lato/Lato-Italic.ttf);
}

#page {
    width: 800px;
    display: flex;
}

header {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-family: myFont;
}

#myheader {
    display: flex;
    justify-content: center;
}

.imgTop {
    border-radius: 20px;
    box-shadow: 20px 20px 50px yellow;
    backface-visibility: hidden;
    transform: rotate(356deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex: 1;
    align-content: stretch;
    justify-content: space-evenly;
}

#gallery {
    display: flex;
    flex: 0 0 30vw;
    flex-flow: column wrap;
    margin-top: 0;
    order: -1;
}

.TextSection {
    width: 100%;
    padding: 0 3% 0 3%;
    margin-top: 0;
    column-count: auto;
    column-width: 200px;
    display: table-caption;
}

.pquote {
    float: right;
    width: 100px;
    background: green;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 0;
    font-family: myFont;
}

.pImg {
    float: left;
    width: 120px;
    margin: 0 10px 10px 0;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

footer {
    background-color: green;
    justify-content: center;
    font-size: 30px;
    margin: auto;
    width: 100%;
    display: flex;
    align-self: flex-end;
    
}

@media only screen and (max-width: 800px) {
    #page {
        width: 400px;
        display: flex;
    }
    #content {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }
    #gallery {
        display: flex;
        flex: 0 0 100vw;
        order: 1;
    }
}