body {
    background-color: forestgreen;
    font-size: 15px;
    margin: 0;
    font-family: lato;
}

@font-face {
    font-family: myFont;
    src: url(nella-sue/NellaSueDEMO.ttf);
}

@font-face {
    font-family: typeFont;
    src: url(lato/Lato-Italic.ttf);
}

#page {
    width: 800px;
    display: grid;
    grid: 20% 1fr / 1fr;
}

header {
    display: grid;
    font-family: myFont;
    text-align: center;
}

.imgTop {
    border-radius: 15px;
    box-shadow: 20px 20px 50px yellow;
    backface-visibility: hidden;
    transform: rotate(356deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#content {
    display: grid;
    grid: 1fr/ 400px 1fr;
}

#gallery {
    display: grid;
    margin-top: 0;
}

.TextSection {
    padding: 0 3% 0 3%;
    margin-top: 0;
    column-count: auto;
    column-width: 200px;
}

.pquote {
    float: right;
    width: 100px;
    background: green;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 0;
    font-family: myFont;
}

.pImg {
    float: left;
    width: 120px;
    margin: 0 10px 10px 0;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

footer {
    background-color: green;
    justify-content: center;
    font-size: 30px;
    margin: auto;
    width: 100%;
    display: grid;
    
}

@media only screen and (max-width: 800px) {
    #page {
        width: 400px;
    }
    #content {
        grid: auto/ 1fr;
    }
    #gallery {
        order: 1;
    }
}